*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Reem Kufi", sans-serif;

}


body{
    overflow-x: hidden;
}





/* xxxxxxxxxxxxxxx  SEARCH PAGE DESKTOP  xxxxxxxxxxxxxxxxxxxxxx */


#search-page{
    position: fixed;
    z-index: 100;
    height: 130vh;
    width: 100vw;
    background-color: #fff;
    top: 0;
    display: none;
}


#searchHeader{
    height: 15vh;
}

#logo1{
    position: absolute;
    top: 20px;
    left: 5%;
    cursor: pointer;
}


#hr6{
    position: relative;
    top: -27px;
    border:0.1px solid #ececec;
}


#searchCloser{
    display: none;
}


#close{
    position: relative;
    z-index: 100;
    left: 1180px;
    top: -43px;
    cursor: pointer;
}

#close:hover{
    opacity: 50%;
}


#search2{
    position: relative;
    top: 50px;
    left: -145px;
}


#serach-inp{
    position: relative;
    font-family: "poppins", sans-serif;
    top: 45px;
    z-index: 1;
    left: 400px;
    background-color: transparent;
    width: 550px;
    padding-bottom: 25px;
    padding-left: 52px ;
    border-bottom: 1.3px solid #000;
    border-top: 0px  ;
    border-left: 0px;
    border-right: 0px;
    
}




#search-list{
    position: relative;
    display: flex;
    flex-direction: row ;
    gap: 300px;
    left: 230px;
    top: -60px;
}



#search-list li{
    font-family: "poppins" , sans-serif;
    font-size: 13px;
    font-weight: 500;
}



#categories {
    position: relative;
    display: flex;
    flex-direction: column;
    left: 230px;
    top: -90px;
}

#categories li{
    font-size: 14px;
    font-weight: 300;
    margin-bottom: -45px;
    cursor: pointer;
}

#categories li:hover{
    opacity: 40%;
}


#categories li span {
    background-color: #000;
    color: #fff;
    font-weight: 700;
    padding: 2px;
    margin-right: 2px;
}


#imgs-list{
    position: relative;
    display: flex;
    flex-direction: column;
    left: 660px;
    top: -210px;
}

#imgs-list li{
    margin-bottom: -30px;
    cursor: pointer;  
    width: 26vw;
    z-index: 2;
}

#imgs-list li:hover{
    opacity: 70%;
}


.rocommande-item{
    position: relative;
    z-index: 1;
    color: #000;
    top: -610px;
    left: 790px;
    font-size: 12px;
    font-family: "poppins" , sans-serif;
    margin-bottom: 100px;
}



.price{
    position: relative;
    cursor: pointer;
    z-index: 1;
    color: #000;
    top: -1050px;
    left: 790px;
    font-size: 12px;
    font-weight: 700;
    font-family: "poppins" , sans-serif;
    margin-bottom: 100px;
}

#price-1 span{
    color: red;
    text-decoration: line-through;
    margin-left: 8px;
}




/* xxxxxxxxxxxxxxxxxx FOR THE FAV PAGE xxxxxxxxxxxxxxxxxxxxxx */

#fav-page{
    position: fixed ;
    z-index: 10;
    background-color: transparent;
    backdrop-filter: blur(30px);
    height: 100vh ; 
    width: 100vw;
    top: 0px;
    display: none;
}


#close2{
    position: relative;
    left: 390px;
    top: 5px;
    cursor: pointer;

}

#close2:hover{
    opacity: 50%;
}


#form{
    position: relative;
    height: 500px;
    width: 430px;
    background-color: #fff;
    top: 70px;
    left: 400px;
    border-radius: 5px;
    overflow-x: hidden;
}




#connecter1{
    position: relative;
    font-family: "poppins" , sans-serif;
    font-size: 16px;
    font-family: 600;
    left: 150px;
    top: 0px;
}

#connect-icon{
    position: relative;
    left: 135px;
    top: 10px;
}


#connect-text{
    position: relative;
    font-family: "poppins" , sans-serif;
    text-align: center;
    font-size: 13px;
    top: 25px;
}


#adresse-div{
    position: relative;
    top: 85px;
}


.password-div{
    position: relative;
    top: 75px;
}


#connect-label{
    position: relative;
    font-family: "poppins",sans-serif;
    font-size: 13px;
    left: 63px;
    top: -24px;
    cursor: text;
    font-weight: 700;
    padding-left: 2px;
    transition: 0.2s;
    z-index: 0;
}



#connect-inp{
    position: relative;
    width: 340px;
    height: 50px;
    top: -60px;
    left: 40px;
    background-color: transparent;
    border: 1px solid #000;
    outline: none;
    padding-left: 20px;

}


#connect-inp:focus{
    font-size: 15px;
}






#pass-label{
    position: relative;
    font-size: 13px;
    left: 60px;
    top: -20px;
    cursor: text;
    font-weight: 700;
    padding-left: 2px;
    transition: 0.2s;
    z-index: 0;
}

#pass-inp{
    position: relative;
    width: 340px;
    height: 50px;
    top: -55px;
    left: 40px;
    background-color: transparent;
    border: 1px solid #000;
    outline: none;
    padding-left: 20px;
    z-index: 1;
}


#Forget-pass{
    position: relative;
    width: 10vw;
    font-size: 10px;
    left: 40px;
    top: 35px;
    cursor: pointer;
    z-index: 1;
    
}

#Forget-pass a{
    font-family: "poppins" , sans-serif;
    color: #939393;
    font-weight: 500;
}

#Forget-pass a:hover{
    opacity: 70%;
}


#connect-btns{
    position: relative;
    top: -30px;
}

#btn-connect{
    position: relative;
    left: 41px;
    top: 85px;
    width: 340px;
    height: 40px;
    background-color: #000;
    color: #fff;
    font-family: "poppins" , sans-serif;
    font-size: 14px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

#btn-connect:hover{
    background-color: #2F2F2F;
}


#btn2-connect{
    position: relative;
    left: 41px;
    top: 95px;
    width: 340px;
    height: 40px;
    background-color: transparent;
    color: #000;
    border: 1px solid #000;
    font-family: "poppins" , sans-serif;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}


#enSavoirPlus{
    position: relative;
    font-size: 11px;
    left: 40px;
    top: 95px;
}

#enSavoirPlus a{
    font-family: "poppins" , sans-serif;
    color: #939393;
    font-weight: 350;
    padding-bottom: 22px;
}

#enSavoirPlus a:hover{
    opacity: 80%;
}








/* ------------------------------------- */
/* --------- hidden pages ----------- */

#hiddenPage1{
    position: fixed;
    z-index: 10;
    top: 96px;
    height: 90vh;
    width: 100vw;
    background-color: #f0f0f0;
    display: none;
    /* transition: all 0.5s ease-in-out; */
}


.hoverPageList{
    position: relative;
    display: flex;
    flex-direction: row;
    left: 40px;
    top: 50px;
    gap: 170px;
    cursor: default;
}


.hoverPageList li{
    font-size: 10px;
}


.surf-list {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 60px;
    left: 40px;
    cursor: pointer;
}

.surf-list li{
    margin-top: 8px;
    font-family: "poppins" , sans-serif;
    font-weight: 400;
    opacity: 70%;
}

.surf-list  li:hover{
    opacity: 30%;
}



#hr2{
    width: 150px;
    position: relative;
    left: 75px;
    top: 90px;
}


.second-surf-list{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 350px;
    left: 40px;
    cursor: pointer;
}

.second-surf-list li{
    margin-top: 8px;
    font-family: "poppins" , sans-serif;
    font-weight: 400;
    opacity: 70%;
}


.second-surf-list li:hover{
    opacity: 30%;
}


#hr3{
    width: 150px;
    position: relative;
    left: 75px;
    top: 180px;
}


.third-surf-list{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 440px;
    left: 40px;
    cursor: pointer;
}


.third-surf-list li{
    margin-top: 8px;
    font-family: "poppins" , sans-serif;
    font-weight: 400;
    opacity: 70%;
}



.third-surf-list li:hover{
    opacity: 30%;
}




.snow-list{
    position: relative;
    display: flex;
    flex-direction: column;
    top: -125px;
    left: 270px;
    cursor: pointer;
}

.snow-list li{
    margin-top: 8px;
    font-family: "poppins" , sans-serif;
    font-weight: 400;
    opacity: 70%;
}

.snow-list li:hover{
    opacity: 30%;
}


#hr4{
    width: 150px;
    position: relative;
    left: 300px;
    top: -96px;
}


.second-snow-list{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 345px;
    left: 270px;
    cursor: pointer;
}


.second-snow-list li{
    margin-top: 8px;
    font-family: "poppins" , sans-serif;
    font-weight: 400;
    opacity: 70%;
}

.second-snow-list li:hover{
    opacity: 30%;
}


.outdoor-list {
    position: relative;
    display: flex;
    flex-direction: column;
    top: -304px;
    left: 514px;
    cursor: pointer;
}


.outdoor-list li{
    margin-top: 8px;
    font-family: "poppins" , sans-serif;
    font-weight: 400;
    opacity: 70%;
}


.outdoor-list li:hover{
    opacity: 30%;
}




#training{
    position: relative;
    font-size: 10px;
    left: 550px;
    font-weight: 600;
    cursor: default;
    top: -260px;
    cursor: default;
}

.training-list{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 330px;
    left: 514px;
    cursor: pointer;
}


.training-list li{
    margin-top: 8px;
    font-family: "poppins" , sans-serif;
    font-weight: 400;
    opacity: 70%;
}


.training-list li:hover{
    opacity: 30%;
}

.high-list {
    position: relative;
    display: flex;
    flex-direction: column;
    top: -437px;
    left: 770px;
    cursor: pointer;
}

.high-list li{
    margin-top: 8px;
    font-family: "poppins" , sans-serif;
    font-weight: 400;
   opacity: 70%;
}


.high-list li:hover{
    opacity: 30%;
}


.location-list{
    position: relative;
    display: flex;
    flex-direction: column;
    top: -620px;
    left: 1047px;
    cursor: pointer;
}


.location-list li{
    margin-top: 8px;
    font-family: "poppins" , sans-serif;
    font-weight: 400;
    opacity: 70%;
}


.location-list li:hover{
    opacity: 30%;
}




/* xxxxxxxxxxxxxxx FEMME LIST xxxxxxxxxxxxxx */

#femme-list-bg{
    position: fixed ;
    z-index: 9;
    background-color:  rgba(15, 15, 15, 0.5);
    backdrop-filter: brightness(40%);
    height: 100vh ; 
    width: 100vw;
    top: 0px;
    left: -2px; 
    display: none;
}

#femme-list{
    position: fixed;
    z-index: 11;
    top: 94px;
    height: 60vh;
    width: 100vw;
    background-color: #f0f0f0;
}

#femme-list li{
    margin-top: 8px;
    font-size: 13px;
    font-family: "poppins" , sans-serif;
    font-weight: 400;
    opacity: 70%;
    cursor: pointer;
}


#shop{
    position: relative;
    left: 400px;
    top: 50px;
    cursor: default;
    font-size: 11px;
    font-weight: 700;
}

#Shop-list{
    position: relative;
    left: 360px;
    top: 60px;
}


#femme-list li:hover{
    opacity: 30%;
}


#women-pic{
    position: relative;
    top: -150px;
    left: 900px;
}

#women-pic:hover{
    opacity: 90%;
    cursor: pointer;
}



#women-btn{
    position: relative;
    width: 150px;
    height: 65px;
    background-color: #fff;
    border: none;
    left: 677px;
    top: -189px;
    z-index: 0;
    cursor: pointer;
}

#women-btn p{
    font-family: "poppins", sans-serif;
}

#women-btn #word{
    position: relative;
    font-size: 12px;
    left: -37px;

}


#women-btn #word2{
    position: relative;
    font-size: 15px;
    left: -15px;
    font-weight: 500;

}

#women-btn #arrow-btn{
    position: relative;
    left: 12px;
    top: 5px;
    transition: transform .4s ease-in-out;
}

#women-btn:hover #arrow-btn {
    transform: translateX(12px);
    transition: transform .4s ease-in-out;
}




/* ---------------------for the header----------------------- */

header {
   position: fixed;
   z-index: 10;
   height: 96px;
   width: 100vw;
   background-color: #fff;
   
}

#hr00{
    position: relative;
    top: -51px;
    background-color: #000;
}

.navBar ul{
     position: relative;
     display: flex;
     justify-content: center;
     cursor: pointer;
    }

    
    .lista li a{
        position: relative ;
        padding-bottom: 26px;
        margin-left: -40px ;
        padding-left: 20px;
        padding-right:20px;
        z-index: 2;
        /* border: 0.3px solid red;     */
    }


    ul li{
        position: relative;
        top: 3%;
        margin-top: 50px;
        margin-left: 38px ;
        list-style: none;
        font-size: 12px;
        font-weight: 600 ;
    }

       

    .navBar a {
        position: relative;
        color: #000;
        text-decoration: none;
    }
    



    .navBar ul li a::after {
        content: "";
        position: absolute;
        top: 42.9px;
        left: 0;
        bottom: -6px;
        width: 100%;
        height: 2.5px;
        background: #000;
        transform-origin: center;
        transform: scaleX(0);
        transition: transform .4s ease-in-out;
    }
    .navBar ul li a:hover:after{
        transform-origin: left right;
        transform: scaleX(0.6);                         
}


#navList{
    position: relative;
    display: flex;
    flex-direction: row;
    top: -190px;
    left: 700PX;
}

#navList li{
    font-size: 10px;
    font-family: "poppins" , sans-serif;
    font-weight: 400;
    cursor: pointer;
    margin-left: 17px;
}

#navList li:hover{
    opacity: 40%;
}


#seConnect{
    padding-bottom: 5px;
}


#connect-window{
    position: relative;
    height: 210px;
    width: 250px;
    background-color: #f0f0f0;
    left: 1005px;
    top: -190px;
    display: none   ;
}

#connect-alert{
    position: relative;
    top: 17px;
    font-family: "poppins",sans-serif;
    font-size: 11px;
    text-align: center;
}

#btn-seConnect{
        position: relative;
        left: 18px;
        top: 30px;
        width: 210px;
        height: 40px;
        background-color: #000;
        color: #fff;
        font-family: "poppins" , sans-serif;
        font-size: 14px;
        font-weight: 600;
        border: none;
        cursor: pointer;
    }
    
#btn-seConnect:hover{
    background-color: #2F2F2F;
}


#connect-window a{
    position: relative;
    color: #575757;
    font-family: "poppins" , sans-serif;
    font-size: 11px;
    text-align: center;
    top: 40px;
}


    ul li:hover{
        transition: 0.4s;
        
    }


    .logo{
        position: absolute;
        top: 20px;
        left: 5%;
        cursor: pointer;
    }

    .logo:hover{
        opacity: 60%;
        transition: 0.5s;
    }
    .icons{
        position: relative;
    }
    .icons li{
        top: -4.6rem;
        right: -28rem;
        margin-left: 2rem ;
    }

    .icons li:hover{
        opacity: 20%;
    }


    .search{
        position: relative;
        top: 2px;
    }


/* ----------------------for the title---------------------------- */

  

#title {
    position: relative;
    text-align: center;
    width: 36%;
    font-family: "Poppins", sans-serif;
    font-size: 4.7rem;
    font-weight: 800;
    top: 170px;
    left: 400px;
    color: #ffffff;
    line-height: 6rem;
    text-shadow: 0 8px 9px rgba(0, 0, 0, 0.34);
    cursor: pointer;
    
}


#line{
    position: relative;
    font-family: "poppins", sans-serif;
    top: 185px;
    left: 380px;
    width: 39%;
    font-size: 15px;
    word-spacing: 2px;
    color: #fff;
    text-align: center;
}



/*--------------------------- for the button--------------------- */



#button{
    background: #f8f8f8;
    position: relative;
    top: 220px;
    left: 530px;
    height: 3rem;
    width: 12rem;
    border: none;
    border-radius: 2px  ;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    cursor: pointer;
    
}

#button:hover{
    scale: 1.09;
}



#button #word{
    color: #000; 
    position: relative;
    font-family: "poppins" , sans-serif;
    font-weight: 600;
    bottom: 10px;
    left: 0px;
    transition: transform 0.3s ease-in-out;
}

#button:hover #word {
    color: #000;
    transform: translateX(9px);
    transition: transform 0.3s ease-in-out;
     }

     
     
#button #arrow{
    position: relative;
    top: 12px ;
    left: -110px;
    transition: transform 0.3s ease-in-out;
     }
        
        
#button:hover #arrow{
        transform: translateX(30px);
        transition: transform 0.3s ease-in-out;
            
    }

/* -------------------  for the image ---------------------*/






#hero-pic{
    position: absolute;
    top: 6rem;
    left: 0;
    z-index: -3;
    cursor: pointer;
    object-fit: cover;
    overflow-y: hidden;
}



/* -------------------  for the section-2---------------------*/


.section-2{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 100%;
}


#img1{
    position: relative;
    top: 15%;
    left: 2%;
    transition: all 0.6s ease-in-out;
}










#title2 {
    position: relative;
    width: 36%;
    font-family: "Poppins", sans-serif;
    font-size: 5rem;
    font-weight: 800;
    top: -55%;
    left: 5%;
    color: #ffffff;
    line-height: 6rem;
    text-shadow: 0 4px 9px rgba(0, 0, 0, 0.331);
    
}



#line1{
    position: relative;
    font-family: "poppins", sans-serif;
    color: #fff;
    top: -50%;
    left: 5%;
    width: 39%;
    font-size: 15px;
    word-spacing: 2px;
}


/* ------------- for button ----------------- */

#button1{
    background: #f8f8f8;
    position: relative;
    top: -44%;
    left: 5%;
    height: 3rem;
    width: 9rem;
    border:none;
    border-radius: 2px ;
    color: #000;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    cursor: pointer;

    
}




#button1:hover{
    scale: 1.03;
}



#button1 #word{
    color: #000; 
    position: relative;
    font-family: "poppins" , sans-serif;
    font-size: 14px;
    font-weight: 600;
    bottom: 10px;
    left: 0px;
    transition: transform 0.3s ease-in-out;
}

#button1:hover #word {
    transform: translateX(9px);
    transition: transform 0.3s ease-in-out;
     }

     
     
#button1 #arrow{
    position: relative;
    top: 12px ;
    left: -110px;
    transition: transform 0.3s ease-in-out;
     }
        
        
#button1:hover #arrow{
    transform: translateX(65px);
    transition: transform 0.3s ease-in-out;
            
}





/* ------------------ for the setion-3 -------------------- */


.section-3{
    position: absolute;
    background-color: #D9D9D9;
    top: 205%;
    height: 60%;
    width: 100%;
    cursor: pointer;
    
}


#line2{
    font-size: 13px;
    font-weight: 800;
    position: relative;
    width: 10%;
    left: 5%;
    top: 20%;
}


#title3{
    font-size: 2.2rem;
    width: 40%;
    position: relative;
    top: 22%;
    left: 5%;
}


#text{
    position: relative;
    width: 40%;
    font-size: 15px;
    top: 27%;
    left: 5%;
}



/* ------------- button ---------------- */

#button2{
    background: #f8f8f8;
    box-shadow: 3px 3px 11px #7b7b7b;
    position: relative;
    top: 37%;
    left: 5%;
    height: 3rem;
    width: 11rem;
    border: none;
    border-radius: 2px ;
    color: #000;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    cursor: pointer;

    
}





#button2:hover{
    scale: 1.03;
    box-shadow: 3px 7px 17px #7b7b7b;
}



#button2 #word{
    color: #000; 
    position: relative;
    font-family: "poppins" , sans-serif;
    font-size: 14px;
    font-weight: 600;
    bottom: 10px;
    left: 0px;
    transition: transform 0.3s ease-in-out;
}

#button2:hover #word {
    transform: translateX(9px);
    transition: transform 0.3s ease-in-out;
     }

     
     
#button2 #arrow{
    position: relative;
    top: 12px ;
    left: -110px;
    transition: transform 0.3s ease-in-out;
     }
        
        
#button2:hover #arrow{
    transform: translateX(50px);
    transition: transform 0.3s ease-in-out;
            
}



/*  -------------- for the icons-list --------------- */


.icons-list{
    width: 60%;
    display: flex;
    position: relative;
    gap: 8rem;
    left: 30%;
    top: -31%;
}


/* ------------------------- for the gift icon  -------------------------*/

#cadeau{
    position: relative;
    right: 39%;
}


/* ------------------ for the titles-list ------------------------ */


.titles-list{
    width: 60%;
    display: flex;
    position: relative;
    gap: 6rem;
    left: 30%;
    top: -41%;
}


.titles-list li{
    font-family: "poppins" , sans-serif;
    font-size: 1rem;
    font-weight: 700;
}


/* -------------------- item "aventage exclusive" of the list -------------------- */


#aventage-exc{
    position: relative;
    right: 1rem;
}

/* -------------------- item "offre exclisive" of the list ----------------------- */

#offre{
    position: relative;
    right: 1rem;
}



/* --------------- for the lines lists -------------------- */


.lines-list{
    position: relative;
    display: flex;
    gap: 4.5rem;
    left: 30%;
    top: -50%;
    width: 70%;
}


/* ----------------- for line of the lines-list --------------- */

.line{
    position: relative;
    left: 1.5rem;
}


/* ------------------- for the last line of the lines-list ------------------- */

#line4{
    position: relative;
    left: 3rem;
}




/* ------------------- section 4 ----------------------- */

.section-4{
    position: absolute;
    height: 35%;
    width: 100%;
    top: 265%;
}



#parag{
    width: 85%;
    font-size: 12px;
    font-weight: 700%;
    position: relative;
    left: 5%;
    top: 40%;
}



/* ------------------- section 5 ----------------------- */

.section-5{
    position: absolute;
    height: 38%;
    width: 100%;
    top: 300%;
    background-color: #00621B;
}



.QUICKSELVER{
    position: relative;
    left: 3%;
    top: 30%;
}


#text3{
    width: 50%;
    color: #fff;
    font-size: 2rem;
    position: relative;
    left: 15%;
    top: -25%;
}


#parag2{
    position: relative;
    color: #fff;
    font-size: 14px;
    width: 50%;
    left: 15%;
    top: -15%;
}



/* -------------------- for the input ------------------------ */

#mail{
    width: 20rem;
    height: 45px;
    position: relative;
    left: 600px;
    top: -50%;
    background-color: transparent;
    border: 1.3px solid #fff;
    border-radius: 2px;
    padding-left: 1rem;
}

#mail-label{
    position: relative;
    font-size: 14px;
    color: #fff;
    left: 710px;
    top: -121px;
    padding: 3px;
}


#mail::placeholder{
    opacity: 0%;
}


#mail:focus{
    color: #fff;
}


input {
    outline: none;
    
}




/* ----------------- for the button ----------------------- */

#button3{
    background: #fff;
    position: relative;
    top: -66%;
    left: 1040px;
    height: 2.5rem;
    width: 10rem;
    border: #fff;
    border-radius: 2rem  ;
    color: #000;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    cursor: pointer;

    
}


#button3:hover{
    background: #ffffff;
    box-shadow: 0 9px 9px rgba(0, 0, 0, 0.292);
}



#button3:hover .circle {
    transform: translateX(118px);
    transition: transform 0.3s ease-in-out;
    background: #00621B;
     }




#word5{
    position: relative;
    right: -7%;
    transition: transform 0.3s ease-in-out;
}

#button3:hover #word5 {
    transform: translateX(-30px);
    transition: transform 0.3s ease-in-out;
    color: #000;
     }


#button3:hover #arrow{
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
}


#button3 .circle{
    background-color: #00621B;
    position: absolute;
    height: 32px;
    width: 32px;
    left: 5px;
    top: 10%;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}


#button3 #arrow{
    position: relative;
    top: 7px ;
    left: 1px;
    transition: transform 0.3s ease-in-out;
}






/* ----------------------- section 6 ------------------- */


.section-6{
    position: absolute;
    background:#2F2F2F;
    height: 104%;
    width: 100%;
    top: 338%;
    
}


/* ------------- icons list ------------------------- */


.icons2-list{
  position: relative;
  width: 90%;
  left: 6%;
  top: 6%;
  z-index: 1;  
  display: flex;
  gap: 18rem;
}





/* ------------- titles list ------------------------- */



.titles2-list {
    position: relative;
    z-index: 1;
    display: flex;
    color: #fff;
    width: 90%;
    gap: 6rem;
    left: 6%;
}



.titles2-list li{
    font-family: "poppins" , sans-serif;
    font-size: 1rem;
    font-weight: 700;
}



/* ----------------------- lines list --------------------- */

.lines2-list{
    position: relative;
    z-index: 1;
    display: flex;
    color: #fff;
    gap: 5rem;
    left: 6%;
    top: -4%;
    width: 90%;
}



.lines2-list li p{
    font-family: "poppins" , sans-serif;
    font-weight: 300;
}


/* ---------------------- footer ---------------------------- */


/* ------------ hr -------------------*/

.hr{
    position: absolute;
    width: 84%;
    top: 56%;
    left: 8%;
    
}



/* ------------------------ list ------------------- */

.text-list{
    color: #fff;
    position: relative;
    display: flex;
    top: 52%;
    left: 5%;
    gap: 20rem;
    width: 90%;
}


/* --------------------- input code postal or ville -------------------- */

.ville{
    position: relative;
    top: 56%;
    left:8% ;
    background: transparent;
    border: 1px solid #fff;
    height: 2.4rem;
    width: 22rem;
    padding-left: 1rem;
}

.ville::placeholder{
    color: #c9c9c9;
}


#item4{
        position: relative;
        top: 55%;
        left:5% ;
        color: #fff;
        margin-top: 50px;
        margin-left: 38px ;
        list-style: none;
        font-size: 12px;
        font-weight: 600 ;
        cursor: pointer;
        width: 20%;
}







/* ------------------ social media icons ------------------- */

.sm-icons{
    position: relative;
    display: flex;
    width: 40%;
    top: 50%;
    left: 5%;
    cursor: pointer;
}

.sm-icons li:hover{
    opacity: 30%;
}



/* ------------- aide list ----------------- */

.aide-list{
    position: absolute;
    color: #7F7F7F;
    height:30%;
    width: 20%;
    bottom: 48px;
    left: 34.8rem;
    cursor: pointer;
}


.aide-list li{
    position: relative;
    margin-top: 8px;
}


.aide-list li:hover{
    opacity: 50%;
}


/* ------------------ quicksilver list ------------------ */

.quick-list{
    position: absolute;
    color: #7F7F7F;
    font-weight: 100;
    height:30%;
    width: 20%;
    bottom: 48px;
    left: 59.2rem;
    cursor: pointer;
}


.quick-list li{
    position: relative;
    margin-top: 8px;
}


.quick-list li:hover{
    opacity: 50%;
}

#menu-icon{
    display: none;
}



#parag1{
    display: none;
}


#burger-bar{
    display: none;




































    








}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx CSS FOR MOBILE DEVICE xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */


@media only screen and (max-width : 767px ) { 
    
      body{
        height: 5000px;
        width: 100vw;
        overflow-x:hidden;
    }
    

    header{
        position: fixed;
        height: 10vh;
        z-index: 40;
    }
    
    
    /* xxxxxxxxxxxxxxxx        MENU PAGE        xxxxxxxxxxxxxxx */

    
    #burger-bar{
        display: block;
        background-color: #fff;
        height: 100vh;
        width: 100vw;
        position: relative;
        top: -136px;
        left: -380px;
        transition: 0.4s ease-in-out;
        /* border: 2px solid red; */

    }
    
    #header-list-mobile{
        position: relative;
        display: flex;
        flex-direction: column;
        top: 39px;
    }


    #header-list-mobile li {
        position: relative;
        margin-top: 30px;
    }
    
    

    #header-list-mobile li a{
        position: relative;
        text-decoration: none;
        font-family: "poppins" , sans-serif;
        font-size: 14px;
        left: -20px;
        color: #000;
        padding-right: 220px;
    }



    #closerIcon{
        position: relative;
        top: -29px;
        z-index: 10;
        left: 18px;
        display: none;
        transition: 0.5s ease-in-out;
    }
    
    
    #right-arrows{
        position: relative;
        top: -268px;
        left: 300px;
        
    }
    
    
    #right-arrows li{
        margin-top: 33px;
        width: 40px;
    }


    #hr01{
        position: relative;
        top: -240px;
        z-index: 40;
    }





    #navList-mobile{
        position: relative;
        top: -240px;
        left: -17px;
    }

    #navList-mobile li{
        margin-top: 25px;

    }
    
    #navList-mobile li a{
        color: #000;
        text-decoration: none;
        font-weight: 400;
        font-family: "poppins" , sans-serif;
    }


    #NavItem-1{
        padding-right: 217px;
    }




.icons li {
    position: relative;
    top: -118px;
    left: 110px;
    height:0 ;
    width: 0.1px;
    transition: 0.5S ease-in-out;
}

    .icons .fav{
        position: relative;
        height: 24px;
        width: 24px;
        top: 14px;
        left: -25px;
    }


    .icons #bag{
        position: relative;
        left: 90px;
        top: -105px;

    }

    .search{
        position: relative;
        left: -220px;
        top: 16px;
        height: 18px;
    }
    
    .navBar{
        position: relative;
        height: 4rem;
        width: 100vw;
    }

    #hr00{
        position: relative;
        top: 1px;
        z-index: 40;
    }
    
    
    .lista li{
        display: none;
    }
    
    
    
    .c{
        height: 29px;
        width: 29px;
        border-radius: 7px;
        position: relative;
        top: 17px;
        left: 10px;
    }
    
    #menu-icon{
        display: block;
        position: relative;
        left:6px;
        top: 6px;
    }

    .logo{
        position: relative;
        left: 170px;
        top: -15px;
        height: 40px;
        z-index: 50;
    }





    /* xxxxxxxxxxxxxxx      SEARCH PAGE      xxxxxxxxxxxxxxxxx */

    #search-page{
        position: fixed;
        width: 100.5vw;
        height: 100vh;
        z-index: 30;
        left: -380px;
        top: 20px;
        display: block;
        transition: 0.5s ease-in-out;
        overflow-y: scroll;
        overflow-x: hidden;
    }


    #searchHeader{
        position: fixed;
        background-color: #fff;
        z-index: 10;
        /* border: 2px solid red; */
        height: 9.7vh;
        width: 100vw;
        top: 0px;
    }

    #logo1{
        position: fixed;
        z-index: 10;
        left: 170px;
        top: 14.2px;
        height: 40px;
        transition: all 1s ;
    }



    #close{
        display: none;
    }


    #searchCloser{
        display: block;
        position: relative;
        z-index: 10;
        top: 20px;
        left: 12px;
    }


#serach-inp{
    position: relative;
    left: 1px;
    border: none;
    background-color: #f1f1f1;
    top: 44px;
    width: 100.5vw;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-top: 0.3px solid #404040;
    border-bottom: 7px solid #fff ;
}

    #search2{
        position: relative;
        left: 330px;
        top: 5px;
        z-index: 1;
    }


    #imgs-list{
        position: relative;
        top: -245px;
        left: -20px;
        display: flex;
        flex-direction: row;
        gap: 50px;
    }
    
    #imgs-list li img{
        height: 220px;
    }
    
    
    #image-3{
        display: none;
    }
    
    
    #image-4{
        display: none;
        
    }
    
    .rocommande-item{
        position: relative;
        top: -210px;
        left: 8px;
        text-align: center;
        width: 50vw;
    }


    #rocommande-item-2{
        position: relative;
        left: 210px;
        top: -346px;
        width: 40vw;
    }


    #rocommande-item-3{
        display: none;
    }
    
    
    #rocommande-item-4{
        display: none;
    }
    
    
    
    

    #search-list{
        position: relative;
        display: flex;
        flex-direction: column;
        left: -20px;
        top:80px;
    }
    
    #search-list li{
        font-size: 15px;
        letter-spacing: 1.4px;
        font-weight: 600;
    }


    #recom{
        position: relative;
        top: -130px;
    }
    

    #categories{
        position: relative;
        left: -20px;
        top: -330px;
    }



    #categories li{
        font-family: "poppins" , sans-serif;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 1.4px;
        margin-top: 55px;
    }
    
    #categories li span{
        font-family: "poppins" , sans-serif;
        padding-left: 10px;
        
    }


    .price{
        position: relative;
        left: 45px;
        top: -430px;
    }


    #price-2{
        position: relative;
        left: 250px;
        top: -548px;
    }


    #price-3{
        display: none;
    }

    #price-4{
        display: none;
    }
    





/* xxxxxxxxxxxxxxxxxxxx      SECTION 1         xxxxxxxxxxxxxxxxxxxxxxxxx */

    

    #hero-pic{
        height: 35rem;
        top: 67px;
        left: -14rem;
        width: 90vh;
    }



    #title{
        position: relative;
        font-size: 3.5rem;
        left: 33px;
        top: 220px;
        display: flex;
        line-height: 62px;
        text-align: center;
    }

    #line{
        width: 75vw;
        font-weight: 500;
        top: 250px;
        font-size: 11px;
        display: flex;
        text-align: center;
        position: relative;
        left: 40px;
    }


    #button{
        position: relative;
        left: 100px;
        height: 2.5rem;
        width: 10rem;
        top: 300px;
    }

    #button #arrow{
        height: 12px;
        top: 6px;
    }

    #button #word{
        font-size: 12px;
    }


    /* ------- section 2 --------- */



    #img1{
        height: 40rem;
        top: 0px;
        left: -100px;
        width: 90vh;
        object-fit: cover;
        overflow-x: scroll;
    }

    #title2{
        position: relative;
        display: flex;
        text-align: center;
        left: 41px;
        top: -26rem;
        font-size: 3.3rem;
        line-height: 62px;
        text-shadow: 0px 9px 12px #7f7f7f5f;
        
    }


    #line1{
        position: relative;
        width: 79%;
        z-index: 100;
        font-size: 13px;
        display: flex;
        text-align: center;
        top: -23rem;
        left: 100px;
    }


    #button1{
        position: relative;
        left: 105px;
        top: -19rem;
        height: 2.5rem;
        width: 10rem;
       
    }

    #button1 #word{
        font-size: 15px;
    }

    #button1 #arrow{
        height: 12px;
        top: 6px;
    }



    
    
    


    /* ------------------------ section 3 -------------------------- */

    
     
.section-3{
    position: absolute;
    background-color: #D9D9D9;
    top: 196%;
    height:104rem;
    width: 56.5vh;
    cursor: pointer;
    
}






#line2{
    font-size: 15px;
    font-weight: 800;
    position: relative;
    width: 9rem;
    left: 8rem;
    top: 5rem;
}


#title3{
    font-size: 32px;
    width: 74%;
    position: relative;
    top: 7rem;
    left: 60px;
}


#text{
    position: relative;
    width: 80%;
    font-size: 15px;
    text-align: center;
    top: 9rem;
    left: 39px;
}



/* ------------ icons ---------------- */
    

.icons-list{                        
    width: 60%;
    position: relative;
    left: 0%;
    top: 9rem;
}


#hand {
    position: relative;
    height: 5rem;
    left: 103px;
    top: -2rem;
}


#stars{
    position: relative;
    left: -38rem;
    height: 5rem;
    top: 57rem;

}


#grantee{
    position: relative;
    height: 5rem;
    top: 37rem;
    left: -23rem;
}

#cadeau{
    position: relative;
    height: 5rem;
    top: 17rem;
    left: -8.5rem;
}

/* ----------- list titles ------------ */

.titles-list{
    position: relative;
    display: flex;
    flex-direction: column;
    left: 0;
}




.titles-list li{
    font-size: 19px;
}




.hand-text{
    position: relative;
    top: 46rem;
    left: 2.7rem;
    text-align: center;
}




.cadeau-text{
    position: relative;
    top: 54rem;
    left: 2.5rem;
    text-align: center;
}




.grantee-text{
    position: relative;
    top: 61rem;
    left: 2.7rem;
    text-align: center;
}



.stars-text{
    position: relative;
    top: 68rem;
    left: 2.7rem;
    text-align: center;
}



/* --------- text or lines ------------ */


.lines-list{
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
}



.lines-list li{
    font-size: 13px;
    text-align: center;
    position: relative;
    top: 1200px;
    left: 30px;
    padding-bottom: 8rem;
}







#liine4{
    left: 1.2rem;
}




#button2{
    position: absolute;
    top:96rem;
    left: 5.4rem;
}






/* -------------- section 4 -------------------- */

.section-4{
    position: relative;
    top: 2750px;
    width: 100vw;
    height: 320px;
}




#parag{
    display: none;
}




#parag1{
    display: block;
    position: relative;
    color: #000;
    width: 100vw;
    text-align: center;
    font-size: 11px;
    top: 2rem;
    left: 0rem;
}


/* -------------- section 5 ------------------ */



.section-5{ 
    width: 100vw;
    height: 40rem;
    position: relative;
    top: 2645px;
}



.QUICKSELVER{
    height: 5rem;
    top: 15px;
    left: 127px;
}




#text3{
    font-size: 23px;
    position: relative;
    top: 70px;
    left: -216px;
    text-align: center;
    width: 50rem;
}




#parag2{
    position: relative;
    width: 65vw;
    top: 100px;
    font-size: 13px;
    text-align: center;
    left: 65px;
}


#mail-label{
    display: none;
}



#mail{
    position: relative;
    width: 270px;
    top: 168px;
    left: 52px;

}

#mail::placeholder{
    position: relative;
    top: -2px;
    color: #fff;
    font-size: 11px;
}

#mail:focus {
    color: #fff;
}


#mail:disabled{
    color: #fff;
    background-color: #fff;
}


#button3{
    position: relative;
    left: 120px;
    top: 218px;
    height: 2.5rem;
    width: 130px;
   
}



#button3:hover .circle{
    transform: translateX(90px);
}

#button3 .circle{
    position: relative;
    top: 6px;
    height: 30px;
    width: 30px;
}

#button3 #arrow{
    height: 12px;
    top: 6px;
}

#button3 #word5{
    position: relative;
    top: -18px;
    font-size: 12px;
}






/* ---------- section 6 & footer -------------*/




.section-6{
    display: block;
    width: 100vw;
    position: relative;
    top: 2590px;
    height: 60rem;
}




.icons2-list{
    position: relative;
    display: flex;
    flex-direction: column;
    left: 120px;
    top: 40px;
    
}




.icons2-list li {
    position: relative;
    height: 80px;
    
}



.titles2-list{
    left: 40px;
    top: -850px;
    display: flex;
    flex-direction: column;
    position: relative;
}



.titles2-list li{
    position: relative;
    height: 280px;
    font-size: 15px;
}



#impact{
   left:30px;
}



.lines2-list{
    left: 6px;
    top: -1980px;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
}



.lines2-list li{
    position: relative;
    height: 290px;
    font-size: 11px;
}


/* --------- footer ------------ */


.hr{
    position: relative;
    top: 240px;
}




.text-list{
    display: flex;
    flex-direction: column;
    width: 100vw;
    position: relative;
    top: 220px;
    left: 3px;
    
}


.text-list li{
    position: relative;
    font-size: 12px;
}


.item2{
    position: relative;
    font-size: 10px;
    top: -200px;
}




.item3{
    position: relative;
    top: -588px;
    left: 190px;
}





.ville{
    position: relative;
    top: -520px;
    height: 34px;
    width: 17rem;
}

.ville::placeholder{
    position: relative;
    font-size: 10px;
}





.aide-list{
    position: relative;
    left: 3px;
    top: -560px;
    height: 15rem;
    width: 100vw;
}



.aide-list li{
    font-size: 9px;
}





.quick-list{
    position: relative;
    left: 190px;
    top: -805px;
    height: 15rem;
    width: 100vw;
}


.quick-list li{
    font-size: 9px;
}


#item4{
    width: 30vw;
    position: relative;
    top: -200px;
    left: 90px;

}


.sm-icons{
    position: relative;
    top: -210px;
    left: 30px;
}



}




@media screen and (min-width : 768px ) and (max-width : 1024px ) {
    
    
}

